.lsRow {
    display: flex;
    padding: 10px;
    cursor: pointer;
    align-items: center;
}

.lsRow:hover {
    background-color: #dddddd;
    border-radius: 10px;
}

.lsRow > h4 {
    margin-left: 10px;
    font-weight: 500;
}

.lsRow > .MuiSvgIcon-root {
    color: #1877f2;
}